@charset "utf-8";
body {
	font-family: Verdana, Geneva, sans-serif;
	background: "#F1FCB1";
}
#divBanner{
	background:#9DFC6D;
	left:0;
	right:0;
	bottom:0;
	height:57px;
}
#divBanner h1{

    text-shadow: 3px 3px 0 #E5E4D7,
    /* Simulated effect for Firefox and Opera and nice enhancement for WebKit */
   -1px -1px 0 #E5E4D7,  
    1px -1px 0 #E5E4D7,
   -1px  1px 0 #E5E4D7,
    1px  1px 0 #E5E4D7;

    position: absolute;
    left: 25px;
    bottom: 0px;  
}
#divWrapper {
	width:700px;
	margin:20px auto;
}

/*Nav White Box*/
#divNav ul{
	list-style-image:url(../images/bullet.png);
	/*list-style-type:none;*/
	display:block;
	height:500px;
	background:#FFF;
	width:230px;
	margin:7px;
	margin-top:15px;
	text-align:left;
	
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border:2px solid #999;
	
	
}
/*Documentation Navigation*/
#navTitle{
	font-family: Verdana, Geneva, sans-serif;
	font-weight:bold;
	color:#000;
	background:#99FF66;
	font-size:16px;
	display:block;
	text-align:center;
	height:40px;
	width:220px;
	margin-left:-15px;
	margin-top:10px;
	margin-bottom:10px;
	
	
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border:1px solid #999;
	
}
#divNav ul li a {
	color:#36F;
	line-height:1.2;
	text-decoration:none;
}
hr {
	display: block;
	margin-before:5px;
	margin after: 5px;
	margin-start: auto;
	margin-end: auto;
	border-style: inset;
	border-width: 1px;
}
#main{
	list-style-type:none;
	line-height:1.2;
}
#main ul li a{
	text-decoration:none;
}